<body>

  <div class="organizer-panel">
    <h1>Organizer Panel</h1>

    <section>
      <div class="unsold-header">
        <h2>Unsold Players</h2>
        <div>
          <label>Filter by Category:</label>
          <select [(ngModel)]="selectedCategory">
            <option *ngFor="let c of categories" [ngValue]="c">{{ c }}</option>
          </select>
        </div>
      </div>

      <div *ngFor="let p of filterByCategory()" class="unsold-player">
        <span>{{ p.name }} (Age: {{ p.age }}) - Category: {{ p.category }} - Bidding Price: {{p.biddingPrice}}</span>
        <select [(ngModel)]="p.selectedTeamId">
          <option [ngValue]="null">Select Team</option>
          <option *ngFor="let t of teams" [ngValue]="t.id">{{ t.name }}</option>
        </select>
        <button (click)="assignPlayerToTeam(p.id, p.selectedTeamId)">Assign</button>
      </div>
      <p *ngIf="successMessage" style="color:green">{{ successMessage }}</p>

      <p *ngIf="errorMessage" style="color:red">{{ errorMessage }}</p>
    </section>

    <section>
      <h2>Team List</h2>
      <ol>
        <li *ngFor="let t of teams" class="team-card">
          <span>{{ t.name }} &nbsp;&nbsp; (Remaining Budget: {{ t.maximumBudget }})</span>
          <button (click)="togglePlayerList(t.id)">Player List</button>

          <div *ngIf="showList[t.id]" class="team-player-list">
            <div *ngFor="let p of t.players" class="team-player-row">
              <div>{{ p.name }}</div>
              <div>{{ p.biddingPrice }}</div>
              <div>
                <button (click)="releasePlayerFromTeam(p.id,t.id)">Release</button>
              </div>
            </div>
            <div *ngIf="!t.players || t.players.length === 0">No players assigned.</div>
          </div>
        </li>
      </ol>
    </section>
  </div>
</body>